    @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    :root{
        --cor-primária: #0d0d0d;
        --cor-secundária: #F6F6F6;
        --cor-terciária: #ff6900;
        --cor-hover: #090909;

        --fonte-primaria: "Krona One", sans-serif;
        --fonte-secundária: "Montserrat", sans-serif;
    }

    *{
        margin: 0;
        padding: 0;
    }

    body {
        box-sizing: border-box;
        background-color: var(--cor-primária);
        color: var(--cor-secundária);
    }

    .cabecalho{
        padding: 2% 0% 0% 10%;
        }

    .cabecalho__menu {
        display: flex;
        gap: 40px;
    }

    .cabecalho__menu__link {
        font-family: var(--fonte-primaria);
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--cor-terciária);
        text-decoration: none;
    }

    .cabecalho__menu__link:hover {
        color: var(--cor-secundária);
    }

    .apresentacao {
        margin: 2% 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px
    }

    .apresentacao__conteudo{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.75rem;
        font-family: var(--fonte-secundária);
        font-weight: 400;
        font-style: normal;
    }

    .titulo-destaque {
        color: var(--cor-terciária);
        font-size: 2.5rem;
        font-family: var(--fonte-primaria);
        font-weight: 600;
    }

    .apresentacao__conteudo__texto{
        font-size: 1.25rem;
        font-family: var(--fonte-secundária);
        font-style: normal;
    }

    .apresentacao__links{
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;
    }

    .apresentacao__links__subtitulo{
        font-family: var(--fonte-primaria); 
        font-weight: 400;
        font-size: 1.25rem;
        color: var(--cor-terciária);
    }

    .apresentacao__links__botoes{
        display: flex;
        justify-content: center;    
        gap: 24px;
    }

    .apresentacao__links__navegacao:hover{
        background-color: var(--cor-hover);
        color: var(--cor-terciária)
    }

    .apresentacao__links__navegacao{
        /* background-color: #22d4fd;*/
        min-width: 180px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        border: 2px solid var(--cor-terciária);
        border-radius: 40px;
        font-size: 1.125rem;
        font-weight: 600;
        padding: 6px 0;
        text-decoration: none;
        color: var(--cor-secundária);
        font-family: var(--fonte-secundária);
    }

    .apresentacao_imagem{
        width: 50%;
    }

    .rodape{
        padding: 10px;
        color: var(--cor-primária);
        background-color: var(--cor-terciária);
        text-align: center;
        font-family: var(--fonte-secundária);
        font-size: 0.875rem;
        font-weight: 500;
    }

    @media (max-width: 1200px) {
        .cabecalho {
            padding: 10%;
        }
        .cabecalho__menu {
            justify-content: center;
        }
        .apresentacao {
            margin: 0;
            padding: 5%;
            flex-direction: column-reverse;
            text-align: center;
            overflow-x: hidden;
        }
        .apresentacao__conteudo {
            width: auto;
        }
        .apresentacao_imagem{
            max-width: 100%;
            width: auto;
            height: auto;
        }

        .titulo-destaque {
        font-size: 2.5rem;
        }

        .apresentacao__links__botoes {
        flex-direction: column;
        align-items: center;
        }

        .apresentacao__links__navegacao {
        width: 100%;
        min-width: unset;
        max-width: 100%;
        }
}